@import "bootstrap";
@import "bootstrap-icons";

.btn-groups a, button{
  margin: 5px;
}
.btnAction{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(10, 59, 255);
  padding: 5px;
}


.box-content{
  display: flex;
  align-items: center;
  max-width: 100vw;
  min-height: 80vh;
}
.box-content .img-home{
  max-width: 100vw;
}
.box-content p{
  max-width: 90vw;
  text-align: justify;
}


.logeed{
  color: white;
}
.content-login{
  width: 50%;
  margin: 3% auto;
}
.content-login .header{
  text-align: center;
  margin: 3% auto;
}

/*---------------------------- BODY CONTENT | MAIN FILTERS ------------------------------------------*/

.body-content{
  display: block;
  text-align: center;
}

#menu-filter{
  position: absolute;
  top: 10%;
  right: 0%;
  text-align: center;
  background-color: #2a2a2a;
  padding: 10px;
  color: white;
  max-width: 200px;
}
#menu-filter select{
  display: flex;
  border-radius: 5px;
  margin-bottom: 5px;
  border: none;
  width: 100%;
}
#menu-filter .btn-filter{
  display: flex;
}
#menu-filter .box-menu{
  border-top: solid 1px white;
  margin-top: 10px;
  padding: 10px 0;
}

@media (min-width: 992px) {
  .body-content{
    display: grid;
    grid-template-areas: "content menu";
    grid-template-columns: 6fr 1fr;
    gap: 1rem;
  }
  .content{
    grid-area: content;
    text-align: center;
  }

  #menu-filter{
    display: block;
    grid-area: menu;
    position: sticky;
  }
}


.main-content{
  padding: 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}
.main-content .search-prod{
  width: 100%;
  max-height: 80px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}


.product-row{
  width: 100%;
  display: flex;
  flex-flow: column;
}
.product-row table th{
  font-size: 0.8rem;
  vertical-align: middle;
}
.product-row table td{
  vertical-align: middle;
}
.prod-icon{ 
  cursor: pointer;
  max-width: 80px;
  max-height: 80px;
  text-align: center;
}


.footer{
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

